
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 10px;

    background-image: linear-gradient(100deg,rgb(78,95, 102), rgb(30,67, 85));
  }    
   
  .login-container {
    background: #212121de;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    width: 350px;
    align-items: center;
  
  }
  .login-container h2 {
    margin-bottom: 50px;
    text-align: center;
    color: #fff;
  }
  .login-container input {
    width: 90%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
    
  .login-container button {
    width: 100%;
    padding: 15px;
    background: #0e5386;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  .login-container button:hover {
    background: #008dd8;
  }
  .error-message {
    color: rgba(255, 0, 0, 0.719);
    font-size: 1em;
    text-align: center;
  }
  
